* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    word-spacing: normal;
}

header {
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0; /* Ajuste aqui para centralizar verticalmente */
}

    header .logo img {
        max-width: 200px;
        height: auto;
        margin-top: 3px; /* Ajuste fino da posição vertical */
    }

main {
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.meta-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 0.9em;
    color: #777;
}

    .meta-info .date,
    .meta-info .author {
        margin: 0;
    }

article {
    width: 100%;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #000000;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 10px;
}

.centered-heading {
    text-align: center;
}

p {
    margin-bottom: 20px;
    text-align: justify;
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 4px;
}

footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
}

.button-container {
    text-align: center;
    margin: 50px 0; /* Ajuste conforme necessário */
}

.check-availability-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 20px;
    color: #fff;
    background-color: #28a745;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

    .check-availability-button:hover {
        background-color: #218838;
    }

.review-container {
    display: flex;
    align-items: flex-start;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-profile img {
    border-radius: 50%;
    height: 2em; /* Altere conforme necessário para ajustar o tamanho */
    width: auto;
}

.review-content {
    margin-left: 16px;
    flex: 1;
}

.review-header {
    display: flex;
    align-items: center;
    margin-bottom: 0.45em; /* Espaço entre o nome e as estrelas */
}

.reviewer-name {
    font-size: 1.25em;
    font-weight: bold;
    margin-right: 8px;
}

.review-stars {
    font-size: 1.25em;
    color: #FFD700; /* Cor dourada para as estrelas */
}

.review-text {
    font-size: 1em;
    color: #333;
    margin-top: 0.45em; /* Espaço entre as estrelas e o texto */
    word-spacing: normal;
    max-width: 100%;
    text-align: left;
}


/* Media Queries para dispositivos móveis */
@media (max-width: 600px) {
    body {
        padding: 0 5px;
    }

    header {
        padding: 0px 0; /* Reduzindo o padding para telas menores */
    }

    main {
        padding: 10px;
        margin-top: 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1em;
    }

    p {
        margin-bottom: 15px;
    }
}
